* {
    font: baskerville;
    text-decoration: none;
  }
  
  .mariopic {
    display: grid;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
  
  .crashpic {
    display: grid;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  
  .overwatchpic {
    display: grid;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }
  
  .leaguepic {
    display: grid;
    grid-column: 2 / 3;
    grid-row: 4 / 5;
  }
  
  .wowpic {
    display: grid;
    grid-column: 2 / 3;
    grid-row: 5 / 6;
  }
  
  .starcraftpic {
    display: grid;
    grid-column: 2 / 3;
    grid-row: 6 / 7;
  }
  
  header {
    grid-area: header;
  }
  main {
    grid-area: main;
  }
  .mario {
    grid-area: mario;
  }
  .crash {
    grid-area: crash;
  }
  .overwatch {
    grid-area: overwatch;
  }
  .league {
    grid-area: league;
  }
  .wow {
    grid-area: wow;
  }
  .starcraft {
    grid-area: starcraft;
  }
  
  /* .cons {
    display: grid;
    grid-row: 6 / 7;
    grid-column: 2 / 3;
  } */
  
  .mario {
    background: linear-gradient(180deg, rgba(214,15,211,1) 18%, rgba(24,219,199,1) 44%, rgba(247,237,3,1) 74%);
    color: #F88379;
    font-weight: italic;
    border: thick double black;
    filter: drop-shadow(0 1mm 4mm rgb(180, 5, 210));
  }
  
  .crash {
    background: rgb(24,128,8);
    background: linear-gradient(180deg, rgba(24,128,8,1) 13%, rgba(14,212,205,1) 43%, rgba(159,39,176,1) 72%);
    color: #e3d00f;
    font-weight: italic;
    border: thick double black;
    filter: drop-shadow(1mm 1mm 4mm rgb(231, 136, 5));
  }
  
  .overwatch {
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 8%, rgba(226,179,12,1) 36%, rgba(194,194,189,1) 59%);
    color: #381003;
    font-weight: italic;
    border: thick double black;
    filter: drop-shadow(1mm 1mm 4mm rgb(8, 36, 58));
  }
  
  .league {
    background: rgb(240,241,229);
    background: linear-gradient(180deg, rgba(240,241,229,1) 15%, rgba(16,137,187,1) 47%, rgba(233,182,25,1) 82%);
    color: #635f54;
    font-weight: italic;
    border: thick double black;
    filter: drop-shadow(1mm 1mm 4mm rgb(240, 241, 229));
  }
  
  .wow {
    background: rgb(247,194,1);
    background: linear-gradient(180deg, rgba(233,182,25,1) 12%, rgba(59,46,7,1) 59%, rgba(173,177,179,1) 100%);
    color:#12a0cc;
    font-weight: italic;
    border:thick double black;
    filter:drop-shadow(1mm 1mm 4mm rgb(233,182,25,1));
  }
  
  .starcraft {
    background: rgb(4,144,244);
    background: linear-gradient(0deg, rgba(4,144,244,1) 16%, rgba(241,218,90,1) 52%, rgba(244,211,231,1) 100%);
    color:#2e6f9c;
    font-weight:italic;
    border:thick double black;
    filter:drop-shadow(1mm 1mm 4mm rgb(244,211,231,1));
  }
  
  body:before {
      content:"";
      position:fixed;
      left:0;
      top:0;
      right:0;
      bottom:0;
      z-index:-1;
      /* background: rgb(219,219,216); */
      background: linear-gradient(180deg, rgba(219,219,216,1) 10%, rgba(11,96,131,1) 32%, rgba(235,192,8,1) 65%, rgba(215,109,151,1) 82%);
  }
  
  .grid-container {
    display: grid;
    height: 100vh;
    grid-gap: 5px; 
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: repeat(6, 1fr);
    grid-template-areas:
    "mario"
    "crash"
    "overwatch"
    "league"
    "wow"
    "starcraft"
  }
  
  .head {
    display: grid;
    height: 100px;
    justify-content: center;
    color: white;
  }
  
  .main {
    display: grid;
    height: 50px;
    justify-content: center;
    color: white;
  }
  
  
  
  /* .cons {
    display: grid;
    grid-row-start: span 2;
  } */
  
  
  /* background for container div
  /* background: linear-gradient(180deg, rgba(214,15,211,1) 18%, rgba(24,219,199,1) 44%, rgba(247,237,3,1) 74%); */
  /* background: rgb(214,15,211); */
  